{% extends "base.html" %}

{% block title %}{{ block.super }} &mdash; Exam sessions &mdash; {{ location.name }} &mdash; {{ exam_session.date|date:'N j, Y' }}{% endblock title %}

{% block content %}
  <h1>Exam session details</h1>
  {% if exam_session in user_exam_sessions %}
    <p>Already registered!</p>
  {% else %}
    <p><a href="{% url 'prereg-signup' location.slug exam_session.pk %}">Sign up for this exam session</a></p>
  }
  }
  {% endif %}
  <table>
    <tbody>
      <tr>
        <th>Location</th>
        <td><a href="{{ location.get_absolute_url }}">{{ location.name }}</a></td>
      </tr>
      <tr>
        <th>Date</th>
        <td>{{ exam_session.date|date:'N j, Y' }}</td>
      </tr>
      <tr>
        <th>Registration starts</th>
        <td>{{ exam_session.registration_starts|time:'P' }}</td>
      </tr>
      <tr>
        <th>Testing starts</th>
        <td>{{ exam_session.testing_starts|time:'P' }}</td>
      </tr>
      <tr>
        <th>Fee</th>
        <td><abbr title="USD">$</abbr>{{ exam_session.fee|floatformat:'-1' }}</td>
      </tr>
      <tr>
        <th>Other links</th>
        <td>
          {% if location.url %}<p><a href="{{ location.url }}">{{ location.name }}</a></p>{% endif %}
          {% if exam_session.meetup_url %}<p><a href="{{ exam_session.meetup_url }}">Meetup</a></p>{% endif %}
          {% if exam_session.arrl_url %}<p><a href="{{ exam_session.arrl_url }}">ARRL session listing</a></p>{% endif %}
        </td>
      </tr>
    </tbody>
  </table>

  {% if exam_session.description %}
  <p class="description">{{ exam_session.description|linebreaks }}</p>
  {% endif %}

  <div class="vcard">
    <h2>Getting to {{ exam_session.location.name }}</h2>
    <div class="adr">
      <h3>Address</h3>
      <p class="street-address">{{ exam_session.location.street_address }}</p>
      <p><span class="locality">{{ exam_session.location.city }}</span>, <abbr class="region" title="{{ exam_session.location.get_state_display }}">{{ exam_session.location.state }}</abbr> <span class="postal-code">{{ exam_session.location.zip_code }}</span></p>
    </div>
    {% if exam_session.location.phone_number %}
    <div>
      <h3>Phone number</h3>
      <p class="tel">{{ exam_session.location.phone_number }}</p>
    </div>
    {% endif %}
    {% if exam_session.location.directions %}
    <div class="note directions">
      <h3>Directions</h3>
      {{ exam_session.location.directions|linebreaks }}
    </div>
    {% endif %}
  </div>
{% endblock content %}
