<!doctype html>
<html>
  <head>
    <title>{% block title %}Amateur radio licensing{% endblock title %}</title>
  </head>
  <body>
    {% if registrant %}
    <p>Welcome back, {{ registrant.first_name }} {{ registrant.last_name }}!</p>
    {% endif %}

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block content %}{% endblock content %}
  </body>
</html>
